{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="firstname">First Name</label>
    <input name="firstname" id="firstname" required>
    <label for="lastname">Last Name</label>
    <input name="lastname" id="lastname" required>
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form>

  <div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registrationModalLabel">Registration Successful</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          You have been successfully registered!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <script>
        window.onload = function() {
          var myModal = new bootstrap.Modal(document.getElementById('registrationModal'));
          myModal.show();
        };
      </script>
    {% endif %}
  {% endwith %}
{% endblock %}
